.grid {
    min-height: 50vh;
    background-color: var(--backlite2);
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;

}

.aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.aside ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.aside ul li:hover {
    .imgAsideItemProyect {
        transform: scale(1.1);
    }
}

.aside a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonCreateProyect {
    background-color: var(--backlite2);
    color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.hamburger {
    cursor: pointer;
    background-color: var(--backlite2);
    border-radius: 50%;
    height: 40px;
    padding: 10px;
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2.2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTopBottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .lineTopBottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.breadcrumb {
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--backlite2);
    padding: 10px;
    width: 110px;
    z-index: 3;
    left: 20px;
    border-radius: 20px;
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.dropdown ul li button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.hamburger input:checked~.dropdown {
    display: block;
    animation: showDropdown 0.2s ease both;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown button {
    background-color: var(--backlite2);
    color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
}

@keyframes showDropdown {
    0% {
        scale: 0;
        opacity: 0;
        top: -20px;
        left: -20px;
    }

    100% {
        scale: 1;
        opacity: 1;
        top: 45px;
        left: 20px;
    }

}

.dropdown button:hover {
    background-color: var(--backlite);
}

.dropdown button:active {
    background-color: var(--backlite);
    transform: scale(0.9);
}

.hamburger:focus {
    outline: none;
}

.addProjectTagModel section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: var(--backlite);
}

.addProjectTagModel{
    padding: 0px;
    background-color: var(--backlite);
    color: var(--text);
    border-radius: 20px;
    border: none;
    animation: showModal 0.2s ease both;
}

@keyframes showModal {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.addProjectTagModel form fieldset{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 0.5fr auto;
    gap: 20px;
    border-color: var(--primary);
    border-radius: 10px;
    align-items: center;
}

.addProjectTagModel form fieldset input[type=text]{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--backlite2);
    color: var(--text);
}

.addProjectTagModel form fieldset input[type=text]:focus{
    outline: none;
}

.addProjectTagModel form fieldset input[type=color]{
    border-radius: 10px;
    border: none;
    background-color: var(--backlite2);
    color: var(--text);
}

.addProjectTagModel legend{
    font-size: 1.5rem;
    font-weight: bold;
}

.addProjectTagModel form fieldset label{
    font-size: 0.9rem;
    font-weight: bold;
}

.addProjectTagModel form button{
    background-color: var(--backlite2);
    color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.addProjectTagModel form button:hover{
    transform: scale(1.1);
}

.addProjectTagModel form button:active{
    transform: scale(0.9);
}

.addProjectTagModel::backdrop{
    background-color: rgba(0, 0, 0, 0.733);
}