.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 700px;
}

.main header{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.main header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
}

.main header nav button{
    padding: 10px 20px;
    background-color: var(--backlite2);
    color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;

}

.main header nav button:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.main header nav button:active{
    transform: scale(0.9);
    transition: 0.1s;
}

.presentation{
    padding-top: 500px;
    height: 100vh;
    text-align: center;
    animation: appear 1s ease normal;
}

.questions{
    padding-top: 300px;
    animation: appear 1s ease normal;
}

.questions span{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.questions span h2{
    width: 200px;
}

.main h1 {
    font-size: 9rem;
    background: linear-gradient(-45deg, #cc2b5e, #753a88);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    background-clip: text;
    color: transparent;
    display: inline-block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin: 0;
}

.main h3{
    margin: 0;
}


.strong{
    color: var(--primary);
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.055);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 15%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 5%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 30%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 65%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 25%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 40%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 10%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 75%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1700px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*Crear animacion para el h1 donde salga desde abajo y aparezca poco a poco*/
@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

