.grid {
    min-height: 50vh;
    background-color: var(--backlite2);
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
}

.gantt-table {
    background-color: red !important;
  }