.gantt-wrap{
  min-height: 400px;
}

.gantt-controls-wrap button, .gantt-controls-wrap div{
  background-color: var(--accent);
  border-radius: 100px;
}

.gantt-tree-list-item{
  color: var(--text);
}
