
.breadcrumb {
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}

.breadcrumb a, .breadcrumb span {
    text-decoration: none;
    background: linear-gradient(to right,  var(--primary) 10%, var(--accent) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 20px;
}

.breadcrumb a:hover {
    text-decoration: underline;
    transition: all .3s ease-in-out;
    background: var(--text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}