
.hamburger {
    cursor: pointer;
    background-color: var(--backlite2);
    border-radius: 50%;
    height: 40px;
    padding: 10px;
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2.2em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lineTopBottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .lineTopBottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}



.hamburger:focus {
    outline: none;
}